.explore {
  background-color: $color-grey;
}

.place {
  @include display-center;
  flex-direction: row;
  background-color: darken($color: $color-grey, $amount: 5%);

  &__icon {
    padding-right: 15px;
  }
}

.reserve {
  @include display-center;
  flex-direction: column;
  &__title {
      @include display-center;
  }
  &__text {
      @include display-center;
  }
}