.card {
  height: 67px;
  margin-bottom: 15px;
  border-radius: 15px;
  @include box-shadow;
  display: flex;
  overflow: hidden;
  &__storage {
    width: min-content;
    padding: 10px;
    padding-right: 15px;
    width: 1%;
    flex-grow: 1;
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  & p {
    margin: 0;
  }
  &__price {
    font-weight: 600;
  }
  &__title {
    width: 80%;
  }
  &__text {
    width: 80%;
  }
  &__title,
  &__text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__checkbox {
    height: 67px;
    background-color: $color-tertiary;
    color: white;
    font-size: 2em;
    transform-origin: right;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 0px;
    transition: all 500ms;
  }
  &__icon {
    transform: rotate(0);
  }

  &:hover {
    & .card__checkbox {
      width: 60px;
      transition: all 500ms;
    }
    & .card__icon {
      transform: rotate(360deg);
      transition: all 500ms;
    }
  }
}
