.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 5%;
  gap: 20px;
  &__li {
    display: flex;
    align-items: center;
    height: 70px;
    width: 325px;
    @include box-shadow;
    border-radius: 20px;
    &-colored {
      background-color: lighten($color-secondary, 20%);
    }
  }
  &__number {
    @include display-center(row);
    margin-left: -10px;
    margin-right: 20px;
    color: white;
    background-color: $color-primary;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: .7em;
  }
  &__button {
    @include display-center(row);
    width: 20px;
    height: 20px;
    padding-right: 20px;
    font-size: .8em;
    color: $color-lightblack;
    &-colored {
      color: $color-primary;
    }
  }
}