* {
  box-sizing: border-box;
}

.explore {
  background-color: $color-grey;
  margin-top: 0;
}

/*Emplacement*/
.place {
  @include display-center(row);
  flex-direction: row;
  padding: 10px 0;

  background-color: darken($color-grey, 5%);
  color: $color-lightblack;
  box-shadow: inset 1px 4px 5px -6px;

  &__icon {
    padding-right: 15px;
  }
  &__text {
    font-weight: 400;
    font-size: 0.8em;
  }
}

/*Explorer les restaurants + button*/
.reserve {
  @include display-center(column);
  flex-direction: column;
  padding: 30px 0;
  &__title {
    text-align: center;
    width: 60%;
  }
  &__text {
    text-align: center;
    width: 80%;
  }
  &__button {
    margin-top: 20px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(-5deg, $color-primary, $color-secondary);
    box-shadow: 0 5px 20px grey;

    &:hover {
      background: linear-gradient(
        $color-secondary,
        darken($color-secondary, 10%)
      );
      @include box-shadow;
    }
  }
}
