.menu {
  margin: 0;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin-top: -40px;
    padding-top: 40px;
    border-radius: 40px 40px;
  }
  &__heart {
    padding-right: 40px;
  }
  &__storage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  &__section {
    padding: 0 20px;
    width: 350px;
    flex-grow: 1;
  }
  &__img {
    position: relative;
    z-index: -1;
    object-fit: cover;
    height: 255px;
    width: 100%;
    max-height: 50vh;
  }
  &__title {
    font-family: "Shrikhand", sans-serif;
    font-weight: 100;
  }
  &__subtitle {
    margin-top: 40px;
    width: 40px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 1em;
    border-bottom: 5px solid $color-tertiary;
  }

  @for $var from 1 to 20 {
    &__box .card:nth-child(#{$var}) {
      animation: menu-loading 1s calc($var * 250ms) backwards;
    }
  }
}

@keyframes menu-loading {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.command {
  @include display-center(row);
  &__button {
    width: 200px;
    height: 50px;
    margin-bottom: 80px;
    margin-top: 35px;
  }
}
